torchaudio
tensorboardX
tensorboard
librosa
coqpit
numpy
torch
tqdm
optax
scipy
einops
equinox
jax["cuda"]
trainer
nbformat
nbconvert
yaml
pyyaml
transformers
pypinyin
hangul_romanize
num2words
spacy
mutagen
pandas
matplotlib